<html>
    <head>
<title> <%= title %> </title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/home.css">
    </head>

    <body>
<h1 id="con">
    <i style="font-size:24px" class="fa">&#xf02d;></i>
    Contact List</h1>
    
<div>
<ul>
    <% for(let i of contact_list) { %>
        <div id="dynamic-contacts">
        <li>
            <p><%= i.name %> --->
           <%= i.phone %>   <a class="delete-button" href="/delete-contact/?phone=<%= i.phone %>">X</a></p>
          
        </li>
        </div>
    <% } %>
</ul>


<form action="contact-details" method="POST"> 
<input type="text" name="name" placeholder="Enter name">
<input type="number" name="phone" placeholder="Enter Phone"> <br> <br>

<button type="submit">ADD Contact</button>
</form> 
</div>
<script type="text/javascript" src="/js/home.js" ></script>
    </body>
</html>